body {
  line-height: 2;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

.pokemon-list {
  text-align: center;
}

.pokemon-list > li > button {
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.pokemon-list > li > button:active {
  transform: scale(0.95);
  cursor: grabbing;
  opacity: 0.75;
}

.pokemon-list > li > button:hover {
  opacity: 0.75;
}

.box {
  width: 320px;
  padding: 10px;
  border: 5px solid grey;
  margin: 10;
}

.pokeButton {
  background-color: lightgrey;
  border: none;
  width: 200px;
  height: 30px;
  margin: 5px 0;
}

.loader {
  text-align: center;
  font-weight: 600;
  font-size: 100px;
}

.hidden {
  display: none;
}
